{% if page.boxes contains 'sobre-a-pos-graduacao' %}
  {% include widget-sobre-a-pos-graduacao.html %}
{% endif %}
{% if page.boxes contains 'linhas-de-pesquisa' %}
  {% include widget-linhas-de-pesquisa.html %}
{% endif %}
{% if page.boxes contains 'processo-seletivo' %}
  {% include widget-processo-seletivo.html %}
{% endif %}
{% if page.boxes contains 'disciplinas-pos-graduacao' %}
  {% include widget-disciplinas-pos-graduacao.html %}
{% endif %}
{% if page.boxes contains 'perfil-egressos' %}
  {% include widget-perfil-egressos.html %}
{% endif %}