{% if page.section == 'about' %}
	{% include rightstrip-about.html %}
{% endif %}
{% if page.section == 'graduation' %}
	{% include rightstrip-graduation.html %}
{% endif %}
{% if page.section == 'post-graduation' %}
	{% include rightstrip-post-graduation.html %}
{% endif %}
{% if page.section == 'research' %}
	{% include rightstrip-research.html %}
{% endif %}
{% if page.section == 'seminars' %}
	{% include rightstrip-seminars.html %}
{% endif %}
{% if page.section == 'staff' %}
	{% include rightstrip-staff.html %}
{% endif %}
{% if page.section == 'contact' %}
	{% include rightstrip-contact.html %}
{% endif %}

