{% if page.boxes contains 'porque-estudar-matematica' %}
  {% include widget-porque-estudar-matematica.html %}
{% endif %}
{% if page.boxes contains 'porque-estudar-na-emap' %}
  {% include widget-porque-estudar-na-emap.html %}
{% endif %}
{% if page.boxes contains 'sobre-a-emap' %}
  {% include widget-sobre-a-emap.html %}
{% endif %}
{% if page.boxes contains 'fgv' %}
  {% include widget-fgv.html %}
{% endif %}
{% if page.boxes contains 'localizacao' %}
  {% include widget-localizacao.html %}
{% endif %}


